@include background-color(--bg);

.reviews-head{
  display:flex;
  align-items: center;
  padding-bottom: 2rem;
  height:50px;
}

&[style*="--hide-date:true"], &[style*="--hide-date: true"] {
  .review-footer .date {
    display: none !important;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2rem;
  margin-bottom: 0px;
}

.masonry-reviews-item:nth-last-child(-n+2) .masonry-reviews-item__content {
  border: none;
}

.reviews {
  .date {
    color: var(--color-text-half-shade);
  }
  .author {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .reviews__photo {
    width: 100%;
    height: auto;
    .img-ratio {
      display: block;
    }
    img {
      border-radius: var(--img-border-radius);
    }
  }
}

.form-message.form-message_error ul {
  padding-left: 1rem;
  margin-top: -1rem;
}



.review-footer,
.review-header {
  display: flex;
}

.review-footer {
  .button-link {
    padding-left: 1.5rem;
    text-decoration: none;
    cursor: pointer;
  }
}

.review-header {
  align-items: center;
  .star-rating-wrapper {
    color: var(--rating-color);
    padding-left: 1rem;
    display: flex;
    align-items: center;
    .icon {
      font-size: 12px;
    }
    .title {
      font-weight: bold;
      padding-left: 0.25rem;
    }
  }
}

.comments-item {
  border-left: 2px solid var(--color-btn-bg);
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0 1rem;
  font-size: 0.8rem;

  .comment-photo {
    grid-column: 1 /1;
    grid-row: 1 / 3;
    width: 45px;
    margin-left: 1rem;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .comment-body {
    grid-column: 2/2;
  }
  .comment-name {
    grid-column: 2/2;
    font-weight: bold;
  }
}

.masonry-reviews-list {
  grid-auto-rows: 10px;
  align-items: stretch;
  padding-bottom: 1rem;
}

.masonry-reviews-item {
  &__content {
    // padding: 2rem 0;
    padding-bottom: 2rem;
    // кастом border-bottom: 2px solid var(--color-text-half-shade);
    display: grid;
    gap: 1rem;
  }
}


.star-radio {
  display: none;
}

.star-rating {
  display: flex;
  flex-flow: row-reverse;
  width: max-content;
  font-size: 2rem;
  color: var(--color-text-half-shade);
  .star-label {
    padding-right: 0.5rem;
  }
}

.star-rating .star-radio:checked~.star-label,
.star-rating .star-label:hover~.star-label,
.star-rating .star-label:hover {
  color: var(--rating-color);
}

.review-form-header {
  display: flex;
  align-items: center;
  .review-form-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 2rem;
  }
  .hide-form-btn {
    text-decoration: none;
    cursor: pointer;
  }
}

.hidden, .masonry-reviews-item-hidden {
  display: none;
}


.review-form-wrapper {
 
}
.reviews-form {
    margin-bottom: 2rem;
}

.js-review-wrapper {
  display: grid;
  grid-template: "rating rating rating" "author comment comment" "email comment comment" "file captcha controls";
  background: whitesmoke;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  
  @media screen and (max-width: 767px) {
    grid-template: "rating" "author" "email" "comment" "file" "captcha" "controls";
  }
  gap: 1.5rem 2rem;
  .star-rating-row {
    grid-area: rating;
  }
  .form-author {
    grid-area: author;
  }
  .form-email {
    grid-area: email;
  }
  .form-comment {
    grid-area: comment;
    grid-template-rows: min-content auto;
     margin-bottom:-5rem;
    @media screen and (max-width: 767px) {
      margin-bottom:0rem;
    }
    .is-textarea {
      height: 100%;
    }
  }
  .form-file {
    grid-area: file;
    align-content: center;
    label {
      display: flex;
      gap: 10px;
      font-weight: bold;
      cursor: pointer;
      color: var(--color-btn-bg);
      position: relative;
      font-family: var(--font-family) !important;

      i {
        font-size: 24px;
        font-family: 'insales-icons' !important;
      }
    }

  }
  .form-captcha {
    grid-area: captcha;
  }
  .form-controls {
    grid-area: controls;
    align-self: center;
    justify-self: end;
    @media screen and (max-width: 767px) {
      width: 100%;
      .button {
        width: 100%;
      }
    }

  }
  .form-row.is-error {
    color: var(--color-error);
    input,
    textarea {
      border-color: var(--color-error);
    }
  }
}

.form-row {
  display: grid;
  gap: 0.25rem;
}

.notice-success {
  padding: 2rem 0;
  font-weight: bold;
  color: var(--color-btn-bg);
  display: none;

  &.is-show {
    display:block;

    & + #review_form {
      display: none;
    }
  }
}

.moderation {
  padding-top: 1rem;
  font-size: 0.9rem;
}

.js-load-review-image {
  display: none;
}

.reviews__photo_new {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.review-client-photo {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 400px;
}
.prod-title {
    font-size: 1.5rem;
    color: var(--color-accent-text);
}
.prod-title:hover {
    font-size: 1.5rem;
    color: var(--color-accent-text-minor-shade);
}
.product-img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.title-img {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.review-title-container a{
  text-decoration:unset;
}


.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  justify-content: center;
  @media screen and (max-width: 767px) {
    justify-content: center;
    grid-auto-flow: row;
    gap: 0.5rem;
  }
}

.pagination-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0.5rem;
  @media screen and (max-width: 767px) {
    justify-self: center;
  }
}

.pagination-link {
  font-size: 1.1rem;
  background: transparent;
  color: var(--color-text);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  &:hover {
    border-color: transparent;
  }
}

.pagination-span {
  font-size: 1.1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.pagination-next {
  font-weight: bold;
  background: var(--bg-major-shade);
  color: var(--color-accent-text);
  @media screen and (max-width: 767px) {
    justify-self: center;
    grid-row-start: 1;
    grid-column: 1/ -1;
  }
}

.pagination-prev {
  font-weight: bold;
  background: var(--bg-major-shade);
  color: var(--color-accent-text);
}

.pagination-void {
  padding: 0 0.8rem;
  line-height: 2rem;
}

.show-mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .pagination-prev:not(.hide-mobile) {
    display: flex;
    font-size: 1rem;
    padding: 0 1rem;
  }
  .pagination-next:not(.hide-mobile) {
    display: flex;
    font-size: 1rem;
    padding: 0 1rem;
  }
  .pagination-items .button,
  .pagination-items span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: var(--controls-btn-padding-y) calc(var(--controls-btn-padding-x) * 0.8);
  }

}
@media screen and (max-width: 767px) {
  .pagination-prev:not(.hide-mobile) {
    display: flex;
    grid-column: 1;
    justify-self: end;
    padding: 0 0.5rem;
  }
  .pagination-next:not(.hide-mobile) {
    display: flex;
    grid-column: 3;
    padding: 0 0.5rem;
  }
  .pagination-prev+.pagination-items.next {
    grid-column: 2;
  }
  .pagination-items .button,
  .pagination-items span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: var(--controls-btn-padding-y) calc(var(--controls-btn-padding-x) * 0.4);
  }
  .pagination-void {
    width: 10px;
  }
  .pagination-items {
    gap: 0.2rem;
  }
}


// кастомный css
.masonry-reviews-item{
    padding: 10px;
    border-radius: 10px;
    background: #f8f8f8;
}